extends /layout/default-layout
block content
  include /common/includes/breadcome-area
  .astute-blog-area.astute-blog-single.em-single-page-comment.single-blog-details
    .container
      .row
        .col-md-12.blog-lr
          .astute-single-blog-details
            .astute-single-blog-title
              h2 İletişim
            // BLOG POST META
            .astute-single-blog-content
              .single-blog-content
                p
                  h5
                    | Harran Belediyesi
                p  
                  | Cumhuriyet Mahallesi, 63510 Harran/Şanlıurfa
                p
                  | Telefon: 0414 441 20 75
