.feature_area
  .container
    .row
      .col-md-12
        .section-title.t_center
          // title
          h2 MAHMUT &Ouml;ZYAVUZ
          // IMAGE
          .em-image
            img(src='/assets/images/icon.jpg' alt='title image')
          // TEXT
          p.text-alignm Harran Belediye Ba&scedil;kan&imath;
      .row
        .col-md-4.col-sm-6.col-xm-6
          .em-feature(style='background-color: #819D91')
            .feature_inner_box
              .feature_inner
                .em-feature-title
                  h2 Harran Belediyesi
              .em_content_text
                .em-feature-desc
                  p
                    | 1986 Y&imath;l&imath;nda &Scedil;anl&imath;urfa&rsquo;n&imath;n Harran &Idot;l&ccedil;esinde Do&gbreve;dum. &Idot;lk ve Orta &Ouml;&gbreve;renimini &Scedil;anl&imath;urfa&rsquo;n&imath;n Harran &Idot;l&ccedil;esinde Tamamlad&imath;m.
              .f-readmore
                .feature_button
                  a(href='/posts/16')
                    | Daha Fazla Bilgi
                    span
                      i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6.col-xm-6
          .em-feature(style='background-color: #819D91')
            .feature_inner_box
              .feature_inner
                .em-feature-title
                  h2 Bas&imath;n
              .em_content_text
                .em-feature-desc
                  p
                    | Mahmut &Ouml;zyavuz se&ccedil;im videolar&imath;, ziyaretleri ve etkinliklerine dair t&uuml;m video ve g&ouml;r&uuml;nt&uuml;lere buradan ula&scedil;abilirsiniz.
              .f-readmore
                .feature_button
                  a(href='/galeries/2')
                    | Daha Fazla Bilgi
                    span
                      i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6.col-xm-6
          .em-feature(style='background-color: #819D91')
            .feature_inner_box
              .feature_inner
                .em-feature-title
                  h2 Geleri
              .em_content_text
                .em-feature-desc
                  p
                    | Galeriye girerek Mahmut &Ouml;zyavuz ve Harran&apos;a dair yer alan t&uuml;m resimlere resim galerisinden ula&scedil;abilirsiniz.
              .f-readmore
                .feature_button
                  a(href='//galeries/1')
                    | Daha Fazla Bilgi
                    span
                      i.fa.fa-long-arrow-right
