.feature_area
  .container-fluid
    .row
      .col-md-12
      .row
        .col-lg-12
            a.harran-belediye(href='http://www.harran.bel.tr/' target='_blank')
                img(data-lazysrc='/assets/images/MB2.jpg' alt='Harran Belediyesi' width='100%')
              
        
