.feature_area
  .container
    .row
      .col-md-12
        .section-title.t_center
          // title
          h2 MAHMUT &Ouml;ZYAVUZ
          // IMAGE
          .em-image
            img(src='/assets/images/icon.jpg' alt='title image')
          // TEXT
          p.text-alignm Harran Belediye Ba&scedil;kan&imath;
      .row
        .col-lg-12
          .em-feature(style='background-color: #819D91')
            .feature_inner_box
              .feature_inner
                .em-feature-title
                  h2 Harran Belediyesi
              .em_content_text
                .em-feature-desc
                  a.harran-belediye(href='http://www.harran.bel.tr/' target='_blank')
                    img(src='/assets/images/HB.jpg' alt='Harran Belediyesi' width='100%')
              
        
