// portfolio_area
#project.portfolio_area
  .container_fluid
    .row
      .col-md-12
        .section-title.t_center.port
          // title
          h2 Medya
          // IMAGE
          .em-image
            img(src='assets/images/icon.jpg' alt='title image')
        .portfolio_menu
          ul.filter_menu
            each galeryNavigation, index in galeryNavigations
              if index == 0
                li.current_menu_item(data-filter='.sliderOf_' + galeryNavigation.id) #{galeryNavigation.title}
              else
                li(data-filter='.sliderOf_' + galeryNavigation.id) #{galeryNavigation.title}
    .row.li
      .em_load
        // single portfoloi
        each galeryNavigation in galeryNavigations
          each media in galeryNavigation.galery.medias
            .col-md-4.col-sm-6.col-lg-3.col-xs-12.grid-item(class= 'sliderOf_' + galeryNavigation.id)
              .single_portfolio
                .single_portfolio_inner
                  .single_portfolio_thumb
                    .card-bgimg(style='background-image:url(' + media.url + ')')
                  .single_portfolio_icon
                    a.portfolio-icon.venobox.vbox-item(data-gall='myportfolio' href=media.url)
                      i.fa.fa-search
        
