// portfolio_area
#project.portfolio_area
  .container_fluid
    .row
      .col-md-12
        .section-title.t_center.port
          // title
          h2 Medya
          // IMAGE
          .em-image
            img(src='assets/images/icon.jpg' alt='title image')
        .portfolio_menu
          ul.filter_menu
            li.current_menu_item(data-filter='*') Tümü
            each galeryNavigation in galeryNavigations
              li(data-filter='.sliderOf_' + galeryNavigation.id) #{galeryNavigation.title}
    .row.li
      .em_load
        // single portfoloi
        each galeryNavigation in galeryNavigations
          each media in galeryNavigation.galery.medias
            .col-md-4.col-sm-6.col-lg-3.col-xs-12.grid-item(class= 'sliderOf_' + galeryNavigation.id)
              .single_portfolio
                .single_portfolio_inner
                  .single_portfolio_thumb
                    img(src=media.url alt='')
                  .single_portfolio_icon
                    a.portfolio-icon.venobox.vbox-item(data-gall='myportfolio' href='/assets/images/1.jpg')
                      i.fa.fa-search
                  .portfolio_content
                    .portfolio_content_inner
                      h3
                        a(href='/galeries/' + galeryNavigation.galery.id) Daha fazla bilgi...
                      p
                        span Bas&imath;n
        