// SLIDER  AREA
.main-slider-area
  .container-fluid
    .row
      .em-nivo-slider-wrapper.kc-elm.kc-css-242493
        #mainSlider.nivoSlider.em-slider-image
          img(src='assets/custom/images/slider1.jpg' alt='' title='#htmlcaption1_30')
          img(src='assets/custom/images/slider2.jpg' alt='' title='#htmlcaption1_28')
        // em_slider style-1 start
        #htmlcaption1_30.nivo-html-caption.em-slider-content-nivo
          .em_slider_inner.container.text-left
            .wow.slideInRight(data-wow-duration='2s' data-wow-delay='0s')
              h1.em-slider-sub-title Mahmut &Ouml;zyavuz
            .wow.slideInRight(data-wow-duration='3s' data-wow-delay='0s')
              p.em-slider-descript Harran Belediye Ba&scedil;kan&imath;
            .em-slider-button.wow.bounceInUp.em-button-button-area(data-wow-duration='3s' data-wow-delay='0s')
              a.em-active-button(href='#') ileti&scedil;im
        // em_slider style-1 end
        // em_slider style-2 start
        #htmlcaption1_30.nivo-html-caption.em-slider-content-nivo
          .em_slider_inner.container.text-left
            .wow.slideInRight(data-wow-duration='2s' data-wow-delay='0s')
              h1.em-slider-sub-title Mahmut &Ouml;zyavuz
            .wow.slideInRight(data-wow-duration='3s' data-wow-delay='0s')
              p.em-slider-descript Harran Belediye Ba&scedil;kan&imath;
            .em-slider-button.wow.bounceInUp.em-button-button-area(data-wow-duration='3s' data-wow-delay='0s')
              a.em-active-button(href='#') ileti&scedil;im
        // em_slider style-2 end
