extends /layout/default-layout
block content
  include /common/includes/breadcome-area
  .astute-blog-area.astute-blog-single.em-single-page-comment.single-blog-details
    .container
      .row
        .col-md-12.blog-lr
          .astute-single-blog-details
            .astute-single-blog-title
              h2 #{post.title}
            // BLOG POST META
            .astute-single-blog-content
              .single-blog-content
                p
                  | !{post.content}
      .row(style='box-sizing: content-box; -webkit-box-sizing: content-box')
        each media in post.media
          a.col-md-2.col-sm-6(style='box-sizing: content-box; -webkit-box-sizing: content-box;margin-bottom: 15px' href=media.url target='_blank')
            img(src=media.url)