extends /layout/default-layout
block content
  include /common/includes/breadcome-area
  .astute-blog-area.astute-blog-single.em-single-page-comment.single-blog-details
    .container
      .row
        .col-md-12.blog-lr
          .astute-single-blog-details
            .astute-single-blog-title
              h2 Mr Morkel  is Our Candidate!
            // BLOG POST META
            .astute-blog-meta
              .astute-blog-meta-left
                span
                  i.fa.fa-calendar
                  | October 16, 2017
            .astute-single-blog-content
              .single-blog-content
                p
                  | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised  words Fuga nesciunt excepturi voluptate molestiae, ullam. Obcaecati eveniet doloremque veniam, culpa ratione quidem laboriosam laborum velit pariatur quia, quas! words Fuga nesciunt excepturi voluptate molestiae, ullam. Obcaecati eveniet doloremque veniam, culpa ratione quidem laboriosam laborum velit pariatur quia, quas!
                  .astute-single-blog--thumb
                    img.attachment-astute-blog-single.size-astute-blog-single.wp-post-image(src='assets/images/b2-1.jpg' alt='')
                | words Fuga nesciunt excepturi voluptate molestiae, ullam. Obcaecati eveniet doloremque veniam, culpa ratione quidem laboriosam laborum velit pariatur quia, quas! words Fuga nesciunt excepturi voluptate molestiae, ullam. Obcaecati eveniet doloremque veniam, culpa ratione quidem laboriosam laborum velit pariatur quia, quas! words Fuga nesciunt excepturi voluptate molestiae, ullam. Obcaecati eveniet doloremque veniam, culpa ratione quidem laboriosam laborum velit pariatur quia, quas!