.em-slider-descript {
  font-size: 30px;
}

.footer-middle {
  margin-top: 20px;
}

.nivo-caption {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}

.breatcome_area {
  background: transparent url(/assets/images/baslikcopy.jpg) 0% 0% / cover
    repeat scroll !important;
}

.breatcome_content * {
  color: white !important;
  text-align: left;
}

.em-image {
  opacity: 0.2;
}

.baskan-foto {
  position: absolute;
  top: 154px;
  left: 86%;
  margin-left: -150px;
  z-index: 10;
  width: 272px;
  height: 263px;
}
.em-slider-descript {
  display: block;
}

@media (max-width: 767px) {
  .em-slider-descript {
    display: none;
  }
  .baskan-foto {
    position: absolute;
    top: 118px;
    left: 94%;
    margin-left: -150px;
    z-index: 10;
    width: 170px;
    height: 263px;
  }
}

.card-bgimg {
  overflow: hidden;
  /* height: 0; */
  padding-top: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
