.em-slider-descript {
  font-size: 30px;
  margin-left: 100px !important;
}

.footer-middle {
  margin-top: 20px;
}

.nivo-caption {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}

.breatcome_area {
    background: transparent url(/assets/images/baslikcopy.jpg) 0% 0% / cover repeat scroll !important;
}

.breatcome_content * {
  color: white !important;
  text-align: left;
}

.em-image {
  opacity: 0.2;
}

.baskan-foto {
    position: absolute;
    top: 106px;
    left: 86%;
    margin-left: -150px;
    z-index: 10;
    width: 300px;
    height: 263px;
}
.em-slider-descript {
    display: block;
}

@media (max-width: 767px) {
    .em-slider-descript{
        display:none;
    }
}

