.breatcome_area
  .container-fluid
    .col-md-12
      .breatcome_title
        .breatcome_title_inner
          .breatcome_content
            ul
              li
                a(href='/')
                  | Ana sayfa
                  i.fa.fa-angle-right
                | !{title}
