.breatcome_area
  .container-fluid
    .col-md-12
      .breatcome_title
        .breatcome_title_inner
          .breatcome_content
            .container
              ul
                li
                  a(href='/')
                    | Ana sayfa
                    i.fa.fa-angle-right
                  | !{title}


.baskan-foto
    img.lazy(data-src='/assets/images/Mahmut_Ozyavuz0411.png')
    
