// portfolio_area
#project.portfolio_area
  .container_fluid
    .row
      .col-md-12
        .section-title.t_center.port
          // title
          h2 #{galery.title}
          // IMAGE
          .em-image
            img(data-lazysrc='/assets/images/icon.jpg' alt='title image')
    .row.li
      .em_load
        // single portfoloi
        each media in galery.medias
          .col-md-4.col-sm-6.col-lg-3.col-xs-12.grid-item.c.d
            .single_portfolio
              .single_portfolio_inner
                .single_portfolio_thumb
                    .card-bgimg(style='background-image:url(' +media.url+ ')')
                .single_portfolio_icon
                  a.portfolio-icon.venobox.vbox-item(data-gall='myportfolio' href=media.url)
                    i.fa.fa-search
