// portfolio_area
#project.portfolio_area
  .container_fluid
    .row
      .col-md-12
        .section-title.t_center.port
          // title
          h2 Medya
          // IMAGE
          .em-image
            img(src='assets/images/icon.png' alt='title image')
    .row.li
      .em_load
        // single portfoloi
        .col-md-4.col-sm-6.col-lg-3.col-xs-12.grid-item.c.d
          .single_portfolio
            .single_portfolio_inner
              .single_portfolio_thumb
                img(src='assets/images/1.jpg' alt='')
              .single_portfolio_icon
                a.portfolio-icon.venobox.vbox-item(data-gall='myportfolio' href='assets/images/1.jpg')
                  i.fa.fa-arrows