extends /layout/default-layout
block content
	include ./includes/slider
	include ./includes/blog-area
	include ./includes/feature-area
	include ./includes/portfolio-area
	// include ./includes/goal-area