extends /layout/default-layout
block content
	include /common/includes/breadcome-area
	.about_area3
		.container
			.row
				.col-md-7.col-sm-6.col-xs-12
					.section_title_lefts
						h1
							| Mahmut Özyavuz
					.about_text
						p
							| 1986 Yılında Şanlıurfa’nın Harran ilçesinde dünyaya geldi. İlk ve Orta Öğrenimini Harran’da tamamlayan Özyavuz, 2011 – 2014 yılları arasında Milliyetçi Hareket Partisi Harran İlçe Başkanlığı görevini yürüttü. 31 Mart 2019 yerel seçimlerinde  Harran Belediye Başkanı Olarak seçildi.
				.col-md-5.col-sm-6.col-xs-12
					.single_image
						img(src='/assets/custom/images/baskan_mahmut_ozyavuz.jpg' alt='')
