extends /layout/default-layout
block content
	include /common/includes/breadcome-area
	.about_area3
		.container
			.row
				.col-md-7.col-sm-6.col-xs-12
					.section_title_lefts
						h1
							| Mahmut Özyavuz
					.about_text
						p
							| 1986 Yılında Şanlıurfa’nın Harran İlçesinde Doğdum. İlk ve Orta Öğrenimini Şanlıurfa’nın Harran İlçesinde Tamamladım. 12.04 2012 Tarihinde Seçildiğim Milliyetçi Hareket Partisi Harran İlçe Başkanlığı Görevim 30 08 2013 tarihinde tamamlanmıştır. "Kendimi Yönetebilme İrademden Aldığım Güç ile İlçemin Sorunlarına Çözüm Üretebilecek Bir Pozitif Enerjiye ve Güce Sahip Olduğumun Farkındayım" Diyerek Yola Çıktım Çözüm Millettir. Bense Çözümün Güçlü Bir Parçası Olacağıma Olan İnancım ve Özgüvenimle Milletimi Temsil Etmeye Talibim.   Vizyonum Beyindeki Radarın, Yürekteki Gözün Sağladığı Bir Görüş Yeteneğidir. Geleceğin Gerçekliğini Yakalama Arzusu ve İradesidir. Ne Ham Hayaldir, ne de Gerçekleşemeyecek Bir Düş. Mevcudu Çok İyi Analiz Etmek, Potansiyeli Hissetmek ve Geleceği Görmektir. Tek Başıma Başladığım Bu Yürüyüşte Vizyonumu Misyon Haline Getirmek İçin Kadrolaşarak, Karşılaşılan Engeller Karşısında İnançsızlığa Kapılanlarla Yolumu Ayırarak! Bıkmadan, Usanmadan, Yılgınlığa Düşmeden Büyük Bir İnanç, Özgüven ve Cesaretle Gittikçe Büyüyen Bir Katılımla Gelecek Vizyonumu Hayata Geçirmiş bulunmaktayım.Öncelikli Bir Siyasetçi Yerine, Öncelikli Bir gelişmişlikten yana tavrımın doğal sonucu olarak yenilenmiş vizyonumu, sizlerle Birlikte Varacağım Yeni Hedeflerin Misyonu, Genç Kadrosunun Dinamizmi ile Yeni Siyasi Yürüyüşüyle ile Karşınızdayım. Hepsi ve Daha Fazlası İçin Takipte Kalın.Allah’ın Selamı Rahmeti ve Bereketi Üzerinize olsun. "Bütün Milletle Barış İçinde Yaşamak, Herkesi Ayrımsız Sevmek, İslâmiyet'in İpine İhlâsla Bağlanmak" Daimi Görevim Olacaktır.Saygılarımla,
				.col-md-5.col-sm-6.col-xs-12
					.single_image
						img(src='assets/images/about-1.png' alt='')
