extends /layout/default-layout
block content
  include /common/includes/breadcome-area
  #blog.blog_area4
    .container
      .row
        .col-md-12
          .section-title.t_center
            p.text-alignm
            h2 BLOG
            p.text-alignm
      .row
        each blog in blogs
          .col-md-4.col-sm-6
            .astute-single-blog_mg
              .astute-single-blog_adn
                .blog_adn_thumb_inner
                  .astute-blog-thumb_adn
                    a(href='/posts/' + blog.post.id)
                      img(src=blog.image.url alt=blog.title, style="object-fit: cover; height: 300px")
                    .blog_add_icon
                      a(href='/posts/' + blog.post.id)
                        i.fa.fa-link
                    // BLOG TITLE
                    .blog-page-title_adn2
                      h2
                        a(href='/posts/' + blog.post.id ) #{blog.title}
                .em-blog-content-area_adn
                  .learn_more_adn
                    a.learn_btn.adnbtn2(href='/posts/' + blog.post.id)
                      | Daha Fazla Bilgi 
                      i.fa.fa-long-arrow-right