extends /layout/default-layout
block content
  include /common/includes/breadcome-area
  #blog.blog_area4
    .container
      .row
        .col-md-12
          .section-title.t_center
            p.text-alignm
            h2 BLOG
            p.text-alignm
      .row
        .col-md-4.col-sm-6
          .astute-single-blog_mg
            .astute-single-blog_adn
              // BLOG THUMB
              .blog_adn_thumb_inner
                .astute-blog-thumb_adn
                  a(href='single-blog.html')
                    img(src='assets/images/blog2.jpg' alt='blog1')
                  .blog_add_icon
                    a(href='single-blog.html')
                      i.fa.fa-link
                // BLOG TITLE
                .blog-page-title_adn2
                  h2
                    a(href='single-blog.html') Election Day Is Coming
              .em-blog-content-area_adn
                .learn_more_adn
                  a.learn_btn.adnbtn2(href='single-blog.html')
                    | Read More 
                    i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6
          .astute-single-blog_mg
            .astute-single-blog_adn
              // BLOG THUMB
              .blog_adn_thumb_inner
                .astute-blog-thumb_adn
                  a(href='#')
                    img(src='assets/images/blog1.jpg' alt='')
                  .blog_add_icon
                    a(href='#')
                      i.fa.fa-link
                // BLOG TITLE
                .blog-page-title_adn2
                  h2
                    a(href='#') Mr Morkel  is Our Candidate!
              .em-blog-content-area_adn
                .learn_more_adn
                  a.learn_btn.adnbtn2(href='#')
                    | Read More 
                    i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6
          .astute-single-blog_mg
            .astute-single-blog_adn
              // BLOG THUMB
              .blog_adn_thumb_inner
                .astute-blog-thumb_adn
                  a(href='#')
                    img(src='assets/images/blog3.jpg' alt='')
                  .blog_add_icon
                    a(href='#')
                      i.fa.fa-link
                // BLOG TITLE
                .blog-page-title_adn2
                  h2
                    a(href='#') Grow your awesome Idea
              .em-blog-content-area_adn
                .learn_more_adn
                  a.learn_btn.adnbtn2(href='#')
                    | Read More 
                    i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6
          .astute-single-blog_mg
            .astute-single-blog_adn
              // BLOG THUMB
              .blog_adn_thumb_inner
                .astute-blog-thumb_adn
                  a(href='#')
                    img(src='assets/images/blog3.jpg' alt='')
                  .blog_add_icon
                    a(href='#')
                      i.fa.fa-link
                // BLOG TITLE
                .blog-page-title_adn2
                  h2
                    a(href='#') Grow your awesome Idea
              .em-blog-content-area_adn
                .learn_more_adn
                  a.learn_btn.adnbtn2(href='#')
                    | Read More 
                    i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6
          .astute-single-blog_mg
            .astute-single-blog_adn
              // BLOG THUMB
              .blog_adn_thumb_inner
                .astute-blog-thumb_adn
                  a(href='#')
                    img(src='assets/images/blog1.jpg' alt='')
                  .blog_add_icon
                    a(href='#')
                      i.fa.fa-link
                // BLOG TITLE
                .blog-page-title_adn2
                  h2
                    a(href='#') Mr Morkel  is Our Candidate!
              .em-blog-content-area_adn
                .learn_more_adn
                  a.learn_btn.adnbtn2(href='#')
                    | Read More 
                    i.fa.fa-long-arrow-right
        .col-md-4.col-sm-6
          .astute-single-blog_mg
            .astute-single-blog_adn
              // BLOG THUMB
              .blog_adn_thumb_inner
                .astute-blog-thumb_adn
                  a(href='#')
                    img(src='assets/images/blog2.jpg' alt='')
                  .blog_add_icon
                    a(href='#')
                      i.fa.fa-link
                // BLOG TITLE
                .blog-page-title_adn2
                  h2
                    a(href='#') Election Day Is Coming
              .em-blog-content-area_adn
                .learn_more_adn
                  a.learn_btn.adnbtn2(href='#')
                    | Read More 
                    i.fa.fa-long-arrow-right
