.footer-middle
  .container
    .row
      .col-md-4.col-sm-6
        .widget.widget_mc4wp_form_widget
          h2.widget-title Mahmut &Ouml;zyavuz
          form.mc4wp-form.mc4wp-form-84(method='post')
            .mc4wp-form-fields
              p
                | Harran &Idot;&ccedil;in, Harran&apos;&imath;n Gelece&gbreve;i &Idot;&ccedil;in, Do&gbreve;ru Hizmet Gen&ccedil; Ba&scedil;kan, Bu Sefer Tamam &Idot;n&scedil;allah.
      .col-sm-6.col-md-8
        .widget.widget_nav_menu
          h2.widget-title &Idot;rtibat
          .menu-quick-link-container
            ul#menu-quick-link.menu
              li
                a(href='#') Harran - &Scedil;anl&imath;urfa
              li
                a(href='#') +90 532 464 54 45
              li
                a(href='#') baskan@mahmutozyavuz.com
