title= title
meta(charset='UTF-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
title Mahmut &Ouml;zyavuz | Resmi Web Sayfas&imath;
meta(name='description' content='')
meta(name='viewport' content='width=device-width, initial-scale=1')
// Favicon
link(rel='icon' type='image/png' sizes='56x56' href='assets/images/fav-icon/icon.png')
// bootstrap CSS
link(rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' media='all')
// venobox CSS
link(rel='stylesheet' href='venobox/venobox.css' type='text/css' media='all')
// nivo-slider CSS
link(rel='stylesheet' href='assets/css/nivo-slider.css' type='text/css' media='all')
// nivo-slider CSS
link(rel='stylesheet' href='assets/css/animate.css' type='text/css' media='all')
// slick CSS
link(rel='stylesheet' href='assets/css/slick.css' type='text/css' media='all')
// owl-carousel CSS
link(rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css' media='all')
// owl-transitions CSS
link(rel='stylesheet' href='assets/css/owl.transitions.css' type='text/css' media='all')
// font-awesome CSS
link(rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' media='all')
// meanmenu CSS
link(rel='stylesheet' href='assets/css/meanmenu.min.css' type='text/css' media='all')
// theme-default CSS
link(rel='stylesheet' href='assets/css/theme-default.css' type='text/css' media='all')
// widget CSS
link(rel='stylesheet' href='assets/css/widget.css' type='text/css' media='all')
// unittest CSS
link(rel='stylesheet' href='assets/css/unittest.css' type='text/css' media='all')
// Main Style CSS
link(rel='stylesheet' href='style.css' type='text/css' media='all')
// Custom Style CSS
link(rel='stylesheet' href='assets/custom/css/custom.css' type='text/css' media='all')
// responsive CSS
link(rel='stylesheet' href='assets/css/responsive.css' type='text/css' media='all')
// modernizr js
script(type='text/javascript' src='assets/js/vendor/modernizr-3.5.0.min.js')