.astute-header-top
  .container
    .row
      // TOP LEFT
      .col-xs-12.col-md-8.col-sm-9
        .top-address
          p
            a(href='tel:+998556778345')
              i.fa.fa-phone
              | +905324645445
            a(href='mailto:baskan@mahmutozyavuz.com')
              i.fa.fa-envelope-o
              | baskan@mahmutozyavuz.com
      // TOP RIGHT
      .col-xs-12.col-md-4.col-sm-3
        .top-right-menu
          ul.social-icons.text-right
            li
              a.facebook.social-icon(href='https://www.facebook.com/ozyavuzmahmut' title='Facebook')
                i.fa.fa-facebook
            li
              a.twitter.social-icon(href='https://twitter.com/mahmutozyavuz' title='Twitter')
                i.fa.fa-twitter
            li
              a.instagram.social-icon(href='https://www.instagram.com/mahmutozyavuz/' title='Instagram')
                i.fa.fa-instagram
