.astute-header-top
  .container
    .row
      // TOP LEFT
      .col-xs-12.col-md-8.col-sm-9
        .top-address
          p
            a(href='tel:+998556778345')
              i.fa.fa-phone
              | +905324645445
            a(href='mailto:astute@example.com')
              i.fa.fa-envelope-o
              | info@mahmutozyavuz.com
      // TOP RIGHT
      .col-xs-12.col-md-4.col-sm-3
        .top-right-menu
          ul.social-icons.text-right
            li
              a.facebook.social-icon(href='#' title='Facebook')
                i.fa.fa-facebook
            li
              a.twitter.social-icon(href='#' title='Twitter')
                i.fa.fa-twitter
            li
              a.instagram.social-icon(href='#' title='Instagram')
                i.fa.fa-instagram
            li
              a.google-plus.social-icon(href='#' title='Google-plus')
                i.fa.fa-google-plus
            li
              a.dribbble.social-icon(href='#' title='Dribbble')
                i.fa.fa-dribbble