.astute-main-menu.one_page.hidden-xs.hidden-sm
  .astute_nav_area.scroll_fixed
    .container
      .row.logo-left
        // LOGO
        .col-md-3.col-sm-3.col-xs-4
          .logo
            a.main_sticky_main_l(href='/' title='Mahmut Özyavuz')
              img(src='/assets/custom/images/logo.svg' alt='Mahmut Özyavuz Logo' style='height: 96px; margin-top: -0px')
            a.main_sticky_l(href='/' title='Mahmut Özyavuz Logo' style='height: 96px; margin-top: -0px')
              img(src='/assets/custom/images/logo.svg' alt='Mahmut Özyavuz')
        // END LOGO
        // MAIN MENU
        .col-md-9.col-sm-9.col-xs-8
          nav.astute_menu.main-search-menu
            ul.sub-menu
              li
                a(href='/') ANASAYFA
              li
                a(href='/hakkinda') HAKKINDA
              li
                a(href='/icerik') HARRAN
                ul.sub-menu
                  each harranNavigation in harranNavigations
                    li
                      a(href='/posts/' + harranNavigation.post.id ) #{harranNavigation.title}
              li
                a(href='galeri') MEDYA TANITIM
                ul.sub-menu
                  each galeryNavigation in galeryNavigations
                    li
                      a(href='/galerys/' + galeryNavigation.galery.id ) #{galeryNavigation.title}
              li
                a(href='/blog') Blog
            .donate-btn-header
              a.dtbtn(href='/iletisim') &Idot;LET&Idot;&Scedil;&Idot;M
        // END MAIN MENU
// END HEADER MENU AREA
// MOBILE MENU AREA
.home-2.mbm.hidden-md.hidden-lg.header_area.main-menu-area
  .menu_area.mobile-menu
    nav
      ul.main-menu.clearfix
        li
          a(href='/') ANASAYFA
        li
          a(href='/hakkinda') HAKKINDA
        li
          a(href='#') HARRAN
          ul.sub-menu
            each harranNavigation in harranNavigations
              li
                a(href='/posts/' + harranNavigation.post.id ) #{harranNavigation.title}
        li
          a(href='#') MEDYA TANITIM
          ul.sub-menu
            each galeryNavigation in galeryNavigations
              li
                a(href='/galeries/' + galeryNavigation.galery.id ) #{galeryNavigation.title}
        li
          a(href='/blog') Blog
      .donate-btn-header
// END MOBILE MENU AREA