.astute-main-menu.one_page.hidden-xs.hidden-sm
  .astute_nav_area.scroll_fixed
    .container
      .row.logo-left
        // LOGO
        .col-md-3.col-sm-3.col-xs-4
          .logo
            a.main_sticky_main_l(href='index.html' title='astute')
              img(src='assets/images/1.png' alt='astute')
            a.main_sticky_l(href='index.html' title='astute')
              img(src='assets/images/logo-trns.png' alt='astute')
        // END LOGO
        // MAIN MENU
        .col-md-9.col-sm-9.col-xs-8
          nav.astute_menu.main-search-menu
            ul.sub-menu
              li
                a(href='/') ANASAYFA
              li
                a(href='/hakkinda') HAKKINDA
              li
                a(href='/icerik') HARRAN
                ul.sub-menu
                  li
                    a(href='/icerik') TAR&Idot;H&Ccedil;ES&Idot;
                  li
                    a(href='blog-left-sidebar.html') K&Ouml;YLER&Idot;M&Idot;Z
                  li
                    a(href='blog-left-sidebar.html') N&Uuml;FUSU
                  li
                    a(href='blog-left-sidebar.html') SOSYAL HAYAT
                  li
                    a(href='blog-left-sidebar.html') TARIM VE HAYVANCULIK
                  li
                    a(href='blog-left-sidebar.html') E&Gbreve;&Idot;T&Idot;M VE K&Uuml;LT&Uuml;R
                  li
                    a(href='blog-left-sidebar.html') CO&Gbreve;RAF&Idot; YAPI
                  li
                    a(href='blog-left-sidebar.html') EKONOM&Idot;K DURUMU
                  li
                    a(href='blog-left-sidebar.html') SA&Gbreve;LIK &Idot;MKANLARI
                  li
                    a(href='blog-left-sidebar.html') GEZ&Idot;LECEK YERLER
                  li
                    a(href='blog-left-sidebar.html') ULA&Scedil;IM
                  li
                    a(href='blog-left-sidebar.html') HARRAN TELEFON REHBER&Idot;
              li
                a(href='blog.html') MEDYA TANITIM
                ul.sub-menu
                  li
                    a(href='blog-left-sidebar.html') BASIN
                  li
                    a(href='blog-left-sidebar.html') FOTO GALER&Idot;
                  li
                    a(href='blog-left-sidebar.html') SE&Ccedil;&Idot;M M&Uuml;Z&Idot;KLER&Idot;
              li
                a(href='/blog') Blog
            .donate-btn-header
              a.dtbtn(href='/iletisim') &Idot;LET&Idot;&Scedil;&Idot;M
        // END MAIN MENU
// END HEADER MENU AREA
// MOBILE MENU AREA
.home-2.mbm.hidden-md.hidden-lg.header_area.main-menu-area
  .menu_area.mobile-menu
    nav
      ul.main-menu.clearfix
        li
          a(href='contact.html') ANASAYFA
        li
          a(href='blog.html') HARRAN
          ul.sub-menu
            li
              a(href='blog-left-sidebar.html') TAR&Idot;H&Ccedil;ES&Idot;
            li
              a(href='blog-left-sidebar.html') K&Ouml;YLER&Idot;M&Idot;Z
            li
              a(href='blog-left-sidebar.html') N&Uuml;FUSU
            li
              a(href='blog-left-sidebar.html') SOSYAL HAYAT
            li
              a(href='blog-left-sidebar.html') TARIM VE HAYVANCULIK
            li
              a(href='blog-left-sidebar.html') E&Gbreve;&Idot;T&Idot;M VE K&Uuml;LT&Uuml;R
            li
              a(href='blog-left-sidebar.html') CO&Gbreve;RAF&Idot; YAPI
            li
              a(href='blog-left-sidebar.html') EKONOM&Idot;K DURUMU
            li
              a(href='blog-left-sidebar.html') SA&Gbreve;LIK &Idot;MKANLARI
            li
              a(href='blog-left-sidebar.html') GEZ&Idot;LECEK YERLER
            li
              a(href='blog-left-sidebar.html') ULA&Scedil;IM
            li
              a(href='blog-left-sidebar.html') HARRAN TELEFON REHBER&Idot;
        li
          a(href='blog.html') MEDYA TANITIM
          ul.sub-menu
            li
              a(href='blog-left-sidebar.html') BASIN
            li
              a(href='blog-left-sidebar.html') FOTO GALER&Idot;
            li
              a(href='blog-left-sidebar.html') SE&Ccedil;&Idot;M M&Uuml;Z&Idot;KLER&Idot;
        li
          a(href='contact.html') &Idot;LET&Idot;&Scedil;&Idot;M
// END MOBILE MENU AREA